header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
    text-align: center;
}